*{
  margin: 0;
  padding: 0;
}
.firstdiv{
    width:100vw;
    display: flex;
    gap: 10px;
}
 

.width-Cart{
   
}
.carddiv{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.width-poducts{
  width: 60%;
}

.card{
    width: 400px;
    height: 400px;

}
.image{
    width: 280px;
    height: 150px;
    object-fit: cover;
}
