.main_div{
     display: flex;
}
.input{
     outline: none;
     display: inline-block;
}
.container{
      display: flex;
      flex-direction: column;
      gap: 10px;
}
.reset_button{

}
.start_button{
    
}